@import "tailwindcss";
@config "../tailwind.config.js";

/* Ẩn scrollbar nhưng vẫn cho phép cuộn */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}